# environnement virtuel
venv/
env/

# fichiers Python compilés
__pycache__/
*.pyc

# fichier sensible (IMPORTANT)
.env
.env.*
!.env.example
# logs
*.log

# système
.DS_Store


.pytest_cache/
.coverage
test.db
htmlcov/
coverage.xml

chroma_data/backend/chroma_data/
